.header {
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  width: 100%;
  height: 86px;

  @media (max-width: 640px) {
    padding: 12px;
    height: 54px;
  }

}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  
  .logoIcon {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 640px) {
      width: 30px;
      height: 30px;
    }
  }
  
  .logoText {
    font-weight: 700;
    font-size: 30px;
    font-family: var(--font-darumadrop-one);
    color: white;
    margin-top: -3px;

    @media (max-width: 640px) {
      font-size: 19px;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
}

.socialIcons {
  display: flex;
  gap: 10px;
  
  .socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 640px) {
    display: none;
  }
}

.split {
  width: 1px;
  height: 16px;
  background: #fff;
  margin: 0 20px;

  @media (max-width: 640px) {
    display: none;
  }
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-family: var(--font-darumadrop-one);
  color: #fff;
  margin-right: 10px;
  cursor: pointer;

  >span {
    transform: translateY(-2px);
  }

  @media (max-width: 640px) {
    width: 26px;
    height: 26px;
    font-size: 13px;
  }

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}

.connectBtn {
  height: 40px;
  width: 160px;
  border-radius: 12px;
  background-color: #fff;
  font-family: var(--font-darumadrop-one);
  font-size: 20px;
  color: #A0C1D7;
  >span {
    transform: translateY(-2px);
  }

  @media (max-width: 640px) {
    border-radius: 8px;
    width: 105px;
    height: 26px;
    font-size: 13px;
  }

  &.wrongNetwork {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.disconnectBtn {
  height: 40px;
  width: 160px;
  border-radius: 12px;
  border: 2px solid #fff;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  @media (max-width: 640px) {
    border-radius: 8px;
    width: 105px;
    height: 26px;
    font-size: 13px;
  }

  .walletAvatar {
    width: 20px;
    height: 20px;

    @media (max-width: 640px) {
      width: 13px;
      height: 13px;
    }
  }

  span {
    font-family: var(--font-darumadrop-one);
    color: #fff;
    margin-top: -5px;
  }

  .disconnect {
    width: 18px;
    height: 18px;
    svg {
      width: 100%;
      height: 100%;
      color: #fff;
    }

    @media (max-width: 640px) {
      width: 10px;
      height: 10px;
    }
  }

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}
